html {
  font-size: 100px;
}

body {
  font-size: 16px;
}

@media screen and (min-width: 120px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  font-family: "microsoft yahei";
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

/*vertical*/
/*level*/
/*center*/
#chu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#chu #ding img {
  width: 100%;
}
#chu #ding .back{
	display: block;
	position: absolute;
	left: 0.28rem;
	top: 0.34rem;
	width: 0.46rem;
	height: 0.46rem;
	
}
#chu #kuang {
  width: 100%;
  height: 1rem;
  margin-top: 0.65rem;
  position: relative;
  background: url(images/9.png) no-repeat center;
  background-size: 90% auto;
}

#chu #kuang input {
  position: absolute;
  left: 1.5rem;
  top: 0.2rem;
  font-size: 24px;
  border: 0;
}

#chu .pass {
  width: 100%;
  height: 1rem;
  margin-top: 0.55rem;
  position: relative;
  background: url(images/2.png) no-repeat center;
  background-size: 90% auto;
}

#chu .pass input {
  position: absolute;
  left: 1.5rem;
  top: 0.2rem;
  font-size: 24px;
  border: 0;
}

#chu #yanzhengma {
  margin-top: 0.55rem;
  margin-left: 0.48rem;
  position: relative;
}

#chu #yanzhengma img {
  width: 50%;
}

#chu #passs {
  width: 208px;
  height: 87px;
  margin-top: -65px;
  margin-left: 4.2rem;
  position: relative;
  background: url(images/12.png) no-repeat center;
  background-size: 55% auto;
}

#chu #passs input {
  position: absolute;
  left: 1rem;
  top: 30px;
  font-size: 15px;
  border: 0;
  background: none;
  width: 1.7rem;
}

#chu #find {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  margin-top: 0.02rem;
}

#chu #find .find {
  width: 5.2rem;
  margin: 0 auto;
  height: 100%;
  color: #666666;
  font-size: 16px;
}

#chu #find .find img {
  vertical-align: middle;
}

#chu #find .find .left {
  float: left;
}

#chu #find .find .right {
  float: right;
}

#chu .di {
  margin-top: 0.5rem;
  background: url(images/6.png) no-repeat center;
  width: 100%;
  height: 0.7rem;
  background-size: 75% auto;
}
