@import "../base";

a{
    color:#666;
}
#gerenzhongxin{
    .zhe{
        display: none;
        position: absolute;
        top:0;
        right:0;
        left: 0;
        bottom: 0;
        width:100%;
        height: 13.34rem;
        background: rgba(0,0,0,0.3);
        z-index: 5;
        .tan{
            width:4.8rem;
            height: 3.5rem;
            margin: 3.87rem auto;
            border-radius:8px 8px ;
            background: #fff;
            .top{
                width: 100%;
                height:0.85rem ;
                background: url(img/title.png);
                background-size: cover;
                overflow: hidden;
                .biaoti{
                    width:90%;
                    height: 0.65rem;
                    margin: 0.1rem auto;
                    .icon{
                        float: left;
                        width:0.65rem;
                        height: 0.65rem;
                        background: url(img/2.png);
                        background-size: cover;
                        overflow: hidden;
                    }
                    .title{
                        float: left;
                        width:82%;
                        height: 0.65rem;
                        .zhong{
                            height: 0.4rem;
                            line-height: 0.4rem;
                        }
                        .yin{
                            height: 0.2rem;
                            line-height: 0.2rem;
                        }
                    }
                }
            }
            .man{
                width:90%;
                margin: 0 auto;
                height: 2.5rem;
                .main{
                    width:82%;
                    margin: 0 auto;
                    height: 2.5rem;
                    .zhongwen{
                        width:60%;
                        margin: 0 auto;
                        height: 0.8rem;
                        text-align: center;
                        line-height: 0.8rem;
                    }
                    .yinwen{
                        width:60%;
                        margin: 0 auto;
                        height: 0.4rem;
                        text-align: center;
                        line-height: 0.4rem;
                        font-size: 6px;
                    }
                    .tishi{
                        width:80%;
                        margin: 0 auto;
                        height: 1.5rem;
                        text-align: center;
                        line-height: 1.5rem;
                        font-size: 6px;
                    }
                }
            }
        }
    }
    .header{
        height: 2rem;
        margin-bottom: 0.1rem;
        #header-four{
            width: 100%;
            height: 1rem;
            display: block;
            background:$maincolor;       
            .headerLeft{
                position: absolute;
                @include vertical;
                left: 0.2rem;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                background: url(img/shezhi.png);
                background-size: cover;
                overflow: hidden;
            }  
            .title{
                 font-size: 0.4rem;
                 line-height: 0.4rem;
                 color: #fff;
                 width: 70%;
                 height: 0.4rem;
                 @include center;
                 text-align: center;
                 letter-spacing: 0.05rem;
                 font-size: 14px;
             }   
             .en{
                 font-size: 0.15rem;
                 line-height: 0.45rem;
                 font-weight: bold;
                 color: #9ddffd;
                 width: 70%;
                 height: 0.45rem;
                 @include level;
                 bottom: 5%;
                 text-align: center;
             }
             
             .headerRight{
                position: absolute;
                @include vertical;
                right: 0.4rem;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                background: url(img/xinxi.png);
                background-size: cover;
                overflow: hidden;
            } 
        }
    }
    .touxiang{
        width:100%;
        height: 4rem;
        .tupian{
            width:2rem;
            height: 2rem;
            margin: 0.4rem auto;
            position: relative;
            border-radius: 50%;
            background: #EEEDEB;
            a{
                position: absolute;
                left: 0.15rem;
                top:0.15rem;
                width:1.7rem;
                height: 1.7rem;            
                border-radius: 50%;
                display: block;
                .tu{
                    width:1.7rem;
                    height: 1.7rem;
                    border-radius: 50%;
                    background: url(img/centre.png);
                    background-position: 0px -60px;
                    background-repeat: no-repeat;
              }  
            }
        }
        .username{
            width:1.85rem;
            height: 0.7rem;
            margin: 0 auto;
            text-align: center;
            line-height: 0.7rem;
            font-size: 22px;
        }
        .qianmin{
            width:80%;
            margin: 0 auto;
            height: 0.5rem;
            
            div{
                float: left;
                height: 0.5rem;
                line-height: 0.5rem;
            }
            .qian{
                width:90%;
                font-size: 18px;
                input{
                    width:100%;
                    height: 100%;
                    border: 0;
                    background: #F2F2F2;
                }
            }
            .xiu{
                width:8%;
                .xiugai{
                    width:0.3rem;
                    height: 0.3rem;
                    margin: 0.2rem auto;
                    background: url(img/centre.png);
                    background-position: -15px -13px;
                    background-repeat: no-repeat;
                    
                }
            }
        }
    }
    .mainer{ 
        width:93%;
        margin: 0 auto;
        height: 3.6rem;
        -webkit-box-shadow: #666 0px 0px 10px;  
        -moz-box-shadow: #666 0px 0px 10px;  
        box-shadow: #666 0px 0px 10px;  
        .main{
            width:100%;
            height: 3.6rem;
            .lis:nth-of-type(4){
                border: 0;
            }
            .lis{
                width:100%;
                height: 0.9rem;
                border-bottom: 1px dashed #444;
                .gongneng{
                    width:90%;
                    margin: 0 auto;
                    height: 0.9rem;
                    .quan{
                        float: left;
                        width:0.6rem;
                        height: 0.9rem;
                        .tuan1{
                            width:0.4rem;
                            height: 0.4rem;
                            margin: 0.25rem 0.1rem;
                            border-radius: 50%;
                            background: #2263FB;
                            .icon{
                                width:0.2rem;
                                height: 0.4rem;
                                margin: 0 auto;
                                background: url(img/centre.png);          
                                background-position: -57px -0px;                
                                background-repeat: no-repeat;
                            }
                        }
                        .tuan2{
                            width:0.4rem;
                            height: 0.4rem;
                            margin: 0.25rem 0.1rem;
                            border-radius: 50%;
                            background: #00C2FE;
                            .icon{
                                width:0.2rem;
                                height: 0.4rem;
                                margin: 0 auto;
                                background: url(img/centre.png);          
                                background-position: -67px -0px;          
                                              
                                background-repeat: no-repeat;
                            }
                        }
                        .tuan3{
                            width:0.4rem;
                            height: 0.4rem;
                            margin: 0.25rem 0.1rem;
                            border-radius: 50%;
                            background: #00EBCB;
                            .icon{
                                width:0.2rem;
                                height: 0.4rem;
                                margin: 0 auto;
                                background: url(img/centre.png);          
                                background-position: -76px -0px;               
                                        
                                background-repeat: no-repeat;
                            }
                        }
                        .tuan4{
                            width:0.4rem;
                            height: 0.4rem;
                            margin: 0.25rem 0.1rem;
                            border-radius: 50%;
                            background: #FFCB3C;
                            .icon{
                                width:0.2rem;
                                height: 0.4rem;
                                margin: 0 auto;
                                background: url(img/centre.png);          
                                background-position: -84px -0px;         
                                background-repeat: no-repeat;
                            }
                        }
                    }
                    .wenzi{
                        width:60%;
                        height: 0.9rem;
                        float: left;
                        .zhongwen{
                            height: 0.5rem;
                            width:100%;
                            text-align: left;
                            line-height: 0.5rem;
                        }
                        .yinwen{
                            height: 0.2rem;
                            width:100%;
                            margin-bottom: 0.2rem;
                            text-align: left;
                            line-height: 0.2rem;
                        }
                    }
                    .xiangxia{
                        width:1.1rem;
                        height: 0.9rem;
                        float: right;
                        text-align: right;
                        .banben{
                            width:0.6rem;
                            height: 0.5rem;
                            margin: 0.2rem 0;
                            float: left;
                        }
                        .jiantou{
                            width:0.5rem;
                            height: 0.5rem;
                            margin: 0.2rem 0;
                            float: right;
                            color: deepskyblue;
                        }
                    }
                }
            }
        }
    }
    
    #footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1rem;
        display: block;
        background:#151c2b;     
        .bookrack{
            width: 33.3%;
            height: 100%;
            background: url(img/f2.png);
            background-size: cover;
            display: block;
            float: left;
            border-right: 1px solid #717171;
            span{
                @include level;
                bottom: 0;
                width: 100%;
                height: 0.4rem;
                text-align: center;
                line-height: 0.4rem;
                font-size: 0.25rem;
                color: #646567;
            }
        }
        .bookCity{
            width: 33.3%;
            height: 100%;
            background: url(img/f1.png);
            background-size: cover;
            float: left;
            display: block;
            span{
                @include level;
                bottom: 0;
                width: 100%;
                height: 0.4rem;
                text-align: center;
                line-height: 0.4rem;
                font-size: 0.25rem;
                color: #646567;
            }
        }
        .personage{
            width: 33.3%;
            height: 100%;
            background: url(img/f13.png);
            background-size: cover;
            float: left;
            border-left: 1px solid #717171;
            display: block;
            span{
                @include level;
                bottom: 0;
                width: 100%;
                height: 0.4rem;
                text-align: center;
                line-height: 0.4rem;
                font-size: 0.25rem;
                color: #fff;
            }
        }
    }
}
