@import "../base";

#pianhaoxuanze{
    .header{
        height: 1rem;
        margin-bottom: 0.1rem;
        #header-four{
            width: 100%;
            height: 1rem;
            display: block;
            background:$maincolor;       
            .headerLeft{
                position: absolute;
                @include vertical;
                left: 0.2rem;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                background: url(img/left.png);
                background-size: cover;
                overflow: hidden;
            }  
            .title{
                 font-size: 0.4rem;
                 line-height: 0.4rem;
                 color: #fff;
                 width: 70%;
                 height: 0.4rem;
                 @include center;
                 text-align: center;
                 letter-spacing: 0.05rem;
                 font-size: 14px;
             }   
             .en{
                 font-size: 0.15rem;
                 line-height: 0.45rem;
                 font-weight: bold;
                 color: #9ddffd;
                 width: 70%;
                 height: 0.45rem;
                 @include level;
                 bottom: 5%;
                 text-align: center;
             }

        }
    }
    
    .mainer{
        width:93%;
        margin: 0 auto;
        height: 8rem;
        .main{
            width:100%;
            margin-top:1rem ;
            height: 7rem;
            .lis{
                width:100%;
                height: 1.2rem; 
                margin: 0.1rem auto;
                div{
                    height: 0.8rem;
                    text-align: center;
                    line-height: 0.8rem;
                    border: 1px solid #444;
                    border-radius: 0.5rem 0.5rem;
                    font-size: 12px;
                }
                div.blue{
                    background: deepskyblue;
                }
                
               .lei{
                    float: left;
                    width:40%;
                    margin:0 0.2rem;
               }
               .lie{
                    float: left;
                    width:30%;
                    margin:0 0.1rem;
               }
               .liei{
                   width:80%;
                   margin: 0 auto;
               }
            }
        }
        
    }
    
    .yuedu{
        width:80%;
        height: 0.8rem;
        margin: 0 auto;
        margin-top:2.5rem ;
        background: url(img/centre.png);
        background-position: 0px -295px;
        background-repeat: no-repeat;
        .yue{
            width:60%;
            height: 0.8rem;
            margin: 0 auto;
            .du{
                text-align: center;
                line-height: 0.8rem;
                color:#fff;
            }
        }
    }
}

