@import "../../base";



#zhaohui{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    #ding{
        img{
            width: 100%;
        }
    }
    #zikuan{
         width:100%;
         height: 0.8rem;
         text-align: center;
         line-height: 0.8rem;
         font-size: 16px;
         margin-top: 1rem;
          span{
        
            color: #344082;
            left:0.1rem;
             
             
        }
    } 
    .zikuang{
        width: 100%;
        height: 0.8rem;
        font-size: 18px;
        line-height: 0.8rem;
         span{
            color: #344082;
            margin-left: 75%;
        }
    }
    
    #kuang{
        width: 100%;
        height: 1rem;
        margin-top: 0.6rem;
        position: relative;
        background: url(images/9.png) no-repeat center;
        background-size: 90% auto;
        input{
           position: absolute;
           left: 1.5rem;
           top: 0.2rem;
           font-size: 24px;
           border: 0;
           
       }
    }
    .pass{
        width: 100%;
        height: 1rem;
        margin-top: 0.35rem;
        position: relative;
        background: url(images/2.png) no-repeat center;
        background-size: 90% auto;
       input{
           position: absolute;
           left: 1.5rem;
           top: 0.2rem;
           font-size: 24px;
           border: 0;
           
       }
    }
    #yanzhengma{
        margin-top: 0.55rem;
        margin-left:0.48rem;
        position: relative;
        img{
            width: 50%;
        }
    }
    #passs{
        width: 208px;
        height: 87px;
        margin-top: -65px;
        margin-left:4.2rem;
        position: relative;
        background: url(images/12.png) no-repeat center;
        background-size: 55% auto;
       input{
           position: absolute;
           left:1rem;
           top: 30px;
           font-size: 15px;
           border: 0;
           background: none;
           width: 1.7rem;
           
       }
    } 
    
    #find{
        width: 100%;
        height: 0.5rem;
        line-height: 0.5rem;
        margin-top: -0.2rem;
        .find{
            width: 5.2rem;
            margin: 0 auto;
            height: 100%;
            color: #666666;
            font-size: 16px;
            img{
                vertical-align: middle;
            }
            .right{
                float: right;
            }  
        }
        
    }
    .di{
       margin-top: 0.5rem;
       background: url(images/5.png) no-repeat center;
       width: 100%;
       height: 0.7rem;
       background-size: 75% auto;
    }
}

