<div class="success">
	
	<div id="header-seven">
		<a class="headerLeft" href="#/shuping"></a>
		<span>我要评论</span>
	</div>
	
	<div class="wuxing">
		<div class="images-box">
			<div class="images">
			
			</div>
			<div class="images">
				
			</div>
			<div class="images">
				
			</div>
			<div class="images">
				
			</div>
			<div class="images">
				
			</div>
		</div>
		
	</div>
	
	
	<div class="text" ng-click="focus()">
		<textarea id='wenben' name="text" rows="100%" cols="100%" placeholder="快来说点什么吧..."></textarea>
	</div>
	
	<div class="fabu-btn" ng-click="addclass()">
		<a href="javascript:;">发布评论</a>
	</div>
	
	<div class="jianpan" ng-click="xiaoshi()">
		
	</div>
	
	<div class="heizz">
		
	</div>
	
	<div class="success">
		<div id="tijiao">
			<a href="#/shuping">确定</a>
		</div>
		<div id="quxiao" ng-click='removeclass()'>
			取消
		</div>	
	</div>
	
	
	
</div>